# Path to the file containing the probe configuration
PROBE_CONFIG_PATH=probe/config/probeConfig.json

# MQTT credentials for the configuration broker
MQTT_BROKER=UrlBrokerConfig
MQTT_USERNAME=UsernameBrokerConfig
MQTT_PASSWORD=PasswordBrokerConfig